button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.9;
}

.btn-primary {
  background-color: rgb(103, 107, 203);
  color: white;
}

.btn-secondary {
  background-color: rgb(129, 126, 126);
  color: white;
}

.btn-success {
  background-color: rgb(35, 165, 35);
  color: white;
}

.btn-danger {
  background-color: rgb(142, 30, 30);
  color: white;
}

.btn-outline-primary {
  background-color: white;
  border: 2px solid rgb(103, 107, 203);
  color: rgb(103, 107, 203);
}

.btn-outline-secondary {
  background-color: white;
  border: 2px solid rgb(129, 126, 126);
  color: rgb(129, 126, 126);
}

.btn-outline-success {
  background-color: white;
  border: 2px solid rgb(35, 165, 35);
  color: rgb(35, 165, 35);
}

.btn-outline-danger {
  background-color: white;
  border: 2px solid rgb(142, 30, 30);
  color: rgb(142, 30, 30);
}

.btn-rounded-primary {
  color: white;
  background-color: rgb(103, 107, 203);
  border-radius: 30px;
}

.btn-rounded-secondary {
  color: white;
  background-color: rgb(129, 126, 126);
  border-radius: 30px;
}

.btn-small {
  padding: 5px 10px;
  font-size: 12px;
}

.btn-medium {
  padding: 10px 20px;
  font-size: 16px;
}

.btn-large {
  padding: 15px 30px;
  font-size: 20px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #3498db;
}
